.Form-input {
  width: 100%;
}

.PW-input {
  width: 100%;
}

.Login-btn {
  width: 100%;
}

.Logo {
  display: flex;
  justify-content: center;
}

.Link-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.hoverable-div:hover {
  font-weight: bold;
}
